<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>art books</title>
</head><center><h1>available book:</h1></center>
<center><h2><a href="/ebook/show/">Back to Genra</a></h2></center>
<body>
<table border="1">
    <tr>
        <td><h3> picture </h3></td>
        <td><h3> name </h3></td>
        <td><h3> dicription </h3></td>
        <td><h3> price </h3></td>
        <td><h3> available number </h3></td>
        <td><h3> add to cart </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://images-na.ssl-images-amazon.com/images/I/51CTcslELXL._SX385_BO1,204,203,200_.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3>cake design </h3></td>
        <td><h3> cook book for the lover of small details that makes you have a piece of art </h3></td>
        <td><h3> 10.0 </h3></td>
        <td><h3>  </h3></td>
        <td><h3> <button> add</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://d30a6s96kk7rhm.cloudfront.net/original/readings/978/050/050/9780500500729.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3>clay method </h3></td>
        <td><h3> learn the fundamental techniques to work with clay </h3></td>
        <td><h3> 10.0 </h3></td>
        <td><h3>  </h3></td>
        <td><h3> <button> add</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://images-na.ssl-images-amazon.com/images/I/51JFKUAt8tL._SX423_BO1,204,203,200_.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3>mix media </h3></td>
        <td><h3> learn to draw with different material </h3></td>
        <td><h3> 10.0 </h3></td>
        <td><h3>  </h3></td>
        <td><h3> <button> add</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://images-na.ssl-images-amazon.com/images/I/51h9UmggjwL._SX384_BO1,204,203,200_.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3>makeup steps </h3></td>
        <td><h3> start your makeup from a to z , good for medium level </h3></td>
        <td><h3> 10.0 </h3></td>
        <td><h3>  </h3></td>
        <td><h3> <button> add</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://images-na.ssl-images-amazon.com/images/I/51I7B0sV-ZL._SX387_BO1,204,203,200_.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3>home design </h3></td>
        <td><h3>home idea from scratch , help you to imagen your space and types of design style  </h3></td>
        <td><h3> 10.0 </h3></td>
        <td><h3>  </h3></td>
        <td><h3> <button> add</button> </h3></td>
    </tr>

</table>

<center><h2><a href="/ebook/show/">Back to Genra</a></h2></center>
</body>
</html>