<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Customer, </title>
</head>
<body>

    <center><label><h1>Welcome to e-book Genre</h1></label><br></center>
    <button><h2>CART</h2></button><center><table>
        <td>
            <tr><a href="/ebook/science/"><h2>Science</h2></a></tr>
        </td>
        <td>
            <tr><a href="/ebook/learn/"><h2>Learn</h2></a></tr>
        </td>
        <td>
            <tr><a href="/ebook/history/"><h2>History</h2></a> </tr>
        </td>
        <td>
            <tr><a href="/ebook/cook/"><h2>Cook</h2></a> </tr>
        </td>
        <td>
            <tr><a href="/ebook/art/"><h2>Art</h2></a> </tr>
        </td>
        
    </table></center>

    <br><center><a href="/ebook/search/"><h3>Search for a book title</h3></a></center><br>
    <a href="/"><h3>Exit</h3></a>

</body>
</html>