<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart details</title>
</head>
<body>
    
    <h1>Phurchase Details, Aisha</h1>
    <h3>-Item name:       clay method</h3> 
    <td><h3>-Quantity:         1</h3></td>
    <h3>-total price:   10 KD </h3> 
    <br>
    <button>CONFIRM PAYMENT</button>

    <center><h2><a href="/ebook/show/">Back to Genra</a></h2></center>
</body>
</html>