<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn books</title>
</head><center><h1>available book:</h1></center>
<center><h2><a href="/ebook/show/">Back to Genre</a></h2></center>
<body>
<table border="1">
    <tr>
        <td><h3> picture </h3></td>
        <td><h3> name </h3></td>
        <td><h3> dicription </h3></td>
        <td><h3> price </h3></td>
        <td><h3> Quantity </h3></td>
        <td><h3> Purchase </h3></td>
        
    </tr>
    <tr>
        <td><h3> <img src="https://media.wiley.com/product_data/coverImage300/20/11193630/1119363020.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3>  coding </h3></td>
        <td><h3> example of mini projects to improve your skills , fine for school student between 18 to 22 years </h3></td>
        <td><h3> 10.0 </h3></td>

        <td><h3> <input type="number" name="" id=""> </h3></td>
        <td><h3> <button> add to cart</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://notionpress.com/thumbs/phpThumb.php?src=https://notionpress.com/coveruploads/5fe0aaaaa5556-8627775367.png&f=webp&h=600"width="200" 
            height="200" /> </h3></td>
        <td><h3> English grammar </h3></td>
        <td><h3> learn all basics rule to write a sentence, paragraph  , and essay </h3></td>
        <td><h3> 10.0 </h3></td>
       
        <td><h3> <input type="number" name="" id=""> </h3></td>
        <td><h3> <button> add to cart</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://images-na.ssl-images-amazon.com/images/I/51h9UmggjwL._SX384_BO1,204,203,200_.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3> makeup steps </h3></td>
        <td><h3> start your makeup from a to z , good for medium level </h3></td>
        <td><h3> 10.0 </h3></td>
       
        <td><h3> <input type="number" name="" id=""> </h3></td>
        <td><h3> <button> add to cart</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://images-na.ssl-images-amazon.com/images/I/51I7B0sV-ZL._SX387_BO1,204,203,200_.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3> home design </h3></td>
        <td><h3> home idea from scratch , help you to imagen your space and types of design style </h3></td>
        <td><h3> 10.0 </h3></td>
    
        <td><h3> <input type="number" name="" id=""> </h3></td>
        <td><h3> <button> add to cart</button> </h3></td>
    </tr>
    <tr>
        <td><h3>  <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/7874/9781787410589.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3> human body </h3></td>
        <td><h3> human body with all definition and facts </h3></td>
        <td><h3> 10.0 </h3></td>
       
        <td><h3> <input type="number" name="" id=""> </h3></td>
        <td><h3> <button> add to cart</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://images-na.ssl-images-amazon.com/images/I/51fJ4-BH1EL._SX258_BO1,204,203,200_.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3> physical therapy </h3></td>
        <td><h3> how to help disable people by therapy </h3></td>
        <td><h3> 10.0 </h3></td>
        
        <td><h3> <input type="number" name="" id=""> </h3></td>
        <td><h3> <button> add to cart</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://d30a6s96kk7rhm.cloudfront.net/original/readings/978/050/050/9780500500729.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3> clay method </h3></td>
        <td><h3> learn the fundamental techniques to work with clay </h3></td>
        <td><h3> 10.0 </h3></td>
       
        <td><h3> <input type="number" name="" id=""> </h3></td>
        <td><h3> <button> add to cart</button> </h3></td>
    </tr>
    <tr>
        <td><h3><img src="https://images-na.ssl-images-amazon.com/images/I/51JFKUAt8tL._SX423_BO1,204,203,200_.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3> mix media </h3></td>
        <td><h3> learn to draw with different material </h3></td>
        <td><h3> 10.0 </h3></td>
       
        <td><h3> <input type="number" name="" id=""> </h3></td>
        <td><h3> <button> add to cart</button> </h3></td>
    </tr>
</table>


    
<center><h2><a href="/ebook/show/">Back to Genra</a></h2></center>


   
</body>
</html>