
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>science book</title>
</head><center><h1>available book:</h1></center>
<center><h2><a href="/ebook/show/">Back to Genra</a></h2></center>
<body>
<table border="1">
    <tr>
        <td><h3> picture </h3></td>
        <td><h3> name </h3></td>
        <td><h3> dicription </h3></td>
        <td><h3> price </h3></td>
        <td><h3> available number </h3></td>
        <td><h3> add to cart </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9781/7874/9781787410589.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3> human body </h3></td>
        <td><h3> human body with all definition and facts </h3></td>
        <td><h3> 10.0 </h3></td>
        <td><h3>  </h3></td>
        <td><h3> <button> add</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://images-na.ssl-images-amazon.com/images/I/51fJ4-BH1EL._SX258_BO1,204,203,200_.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3> physical therapy </h3></td>
        <td><h3> how to help disable people by therapy </h3></td>
        <td><h3> 10.0 </h3></td>
        <td><h3>  </h3></td>
        <td><h3> <button> add</button> </h3></td>
    </tr>
    <tr>
        <td><h3> <img src="https://images-eu.ssl-images-amazon.com/images/I/51Ta7ZXt9NL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"width="200" 
            height="200" /> </h3></td>
        <td><h3> air pollution </h3></td>
        <td><h3> the symptoms , reasons , and cure for decrease air pollution </h3></td>
        <td><h3> 10.0 </h3></td>
        <td><h3>  </h3></td>
        <td><h3> <button> add</button> </h3></td>
    </tr>
</table>


    

<center><h2><a href="/ebook/show/">Back to Genra</a></h2></center>   
</body>
</html>