<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book type</title>
</head>
<body>
    <br><br><br>
    <center><table border="1">
        <tr>
            <td><h2>Genre</h2></td>
        </tr>
{% for t in title_s %}
        <tr>
            <td><h2>{{t.type}}</h2></td>

        </tr>
        {% endfor%}
    </table></center>
    <br><br>
    <center><a href="/ebook/search/"><h5>BACK</h5></a></center>
</body>
</html>