<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcom to our website</title>
</head>
<body>
    <center><img src="https://scontent.fkwi6-2.fna.fbcdn.net/v/t1.18169-9/19989635_1611493042218661_2049665672643648437_n.png?_nc_cat=105&ccb=1-5&_nc_sid=e3f864&_nc_ohc=-lv29ErbdNYAX9NH6Pa&_nc_ht=scontent.fkwi6-2.fna&oh=00_AT9uqZlmMeGLnrGAUeL15xp01OSjBrkWTup71U9vXkmRwQ&oe=620A1D2D"width="1300" 
        height="500" /> <h1><a href="/ebook/show/">Enter the website</a></h1></center>
</body>
</html>